@import url("normalize.css");
@import url("utilities.css");
@import url("button.css");

:root {
  --color-bg: #171717;
  --color: rgb(255, 255, 255);
}

@font-face {
  font-family: "Conthrax";
  src: url("/assets/fonts/Conthrax-Semibold.woff2");
}

body {
  font-family: "Inter", serif;
  /* background-color: var(--color-bg) */
  line-height: 1.4;
  color: var(--color);
  background-color: var(--color-bg);
}

.conthrax {
  font-family: "Conthrax";
}

.logo {
  color: rgb(215, 38, 56);
}

.front-page {
  padding-inline: 1em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.dots {
  background-image: radial-gradient(#5d5d5d 0.5px, transparent 0.5px),
    radial-gradient(#656565 0.5px, #171717 0.5px);
  background-size: 20px 20px;
  background-position: 0 0, 10px 10px;
  animation: scrolling-dots linear 30s;
  animation-direction: alternate;
  animation-iteration-count: infinite;
  position: absolute;
  z-index: -100;
  width: 100%;
  height: 100%;
  opacity: 0.85;
}

@keyframes scrolling-dots {
  from {
    opacity: 0.85;
    background-size: 20px 20px;
  }
  to {
    opacity: 0.3;
    background-size: 23px 23px;
  }
}

.text-body {
  padding-inline: 0.5em;
  display: inline-block;
  text-align: left;
  max-width: 46ch;
}

@media screen and (max-width: 960px) {
  h1 {
    font-size: 1.5em;
  }

  .container {
    padding-inline: 2.5em;
  }
}

@keyframes bounce {
  0% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-25px);
  }

  100% {
    transform: translateY(0);
  }
}

.bounce-animation {
  animation: 2s infinite ease bounce;
}

.learn-more {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1em;
  margin-top: -8em;
}
